/app/*
/app/config/parameters.yml
/bin/*
/test/*
/var/*
/vendor/*
/web/bundles/*
/phpunit.xml


!app/Resources/views/base.html.twig
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep


#!/var/cache
#/var/cache/*
#!/var/logs
#/var/logs/*
#!/var/sessions
#/var/sessions/*
#!var/SymfonyRequirements.php
